*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%
}

header {
    background-image: url(IMG/hanny-naibaho-388579-unsplash.png);
    width: 100%;
    background-size: cover;
}

.tp-hdr{
    width: 100%;
    height: auto;
}

.hdr-titles{
    display: flex;
}

    .bees{
        flex:3;
        color:white;
        padding: 18px;
        padding-left:117px;
        font-weight: 600;
        font-size: 16px;
    }

    .nv-ul{
        width:433px;
        margin-top:20px;
        display:flex;
        flex:2;
        justify-content:space-between;
    }

    a{
        color:white;
        text-decoration:none;
        font-weight:600;
        font-size:16px;
        flex:1;   
    }
    /*Header Ends*/
    /*Shows Section Begins */
    /*Five tags nested below 'shows' tag*/ 

    .shows {
        width: 100vw;
    }
        .shows{
            color:white;
            font-size: 64px;
            font-weight: 700;
            margin-bottom:-61px;
            margin-top:65px;
            margin-left:110px;
            padding-top:15px;
            align-items:center;
            justify-content: space-evenly;
            }
        
        .tour-info{
        width: 100%;
        color: white;
        min-height: 5em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid white;
            .tour-info{
                background-color: rgba(50,50,50,0.3);
        }
    }
        .event {
            font-size: 20px;
            font-weight: 600;
            min-width: 30%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
    }

        h4{
            font-size: 20px;
            font-weight: 700;
            margin-bottom:40px;
            padding-top:100px;
        } 

    li{
        list-style:none;
        padding-bottom:20px;
        padding-top:30px;
        }
    
    .button{
        background:#a0a0a0;
        border-radius: 4px;
        border: #FFFFFF solid 2px;
        fill-opacity: 40%;
        margin: 13px;
        margin-bottom: 17px;
        height:56px;
    }
    .button-font{
        font-weight: 600;
        font-size: 15px;
        color: white;
        padding: 1px 37px;
    }

 /*Closing tag of show section*/
/*Shows Section Ends */

/*Contact Section Begins*/
.contact{   
    margin-top:0;
    padding-left: 100px;
    padding-top:5px;
    background: #272727;
    color: white;   
    h3{
        font-size: 64px;
        font-weight: 700;
        margin-bottom:40px;
        padding-top:15px;
    }
    .contact-section{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-between
    }
    .mgmt-titles{
        display: flex;   
        justify-content:space-between;
        width:980px;
        margin-left: -27;
        font-weight:600;
        }
    .mgmt-info{ /*Management and booking details listed through p1-p3*/
        display:flex;
        .p1{
            margin-top:-15px;
        }
        .p2{
            padding-left:180px;
            margin-top:4px;
        }
        .p3{
            padding-left:142px;
            margin-top:-15px;
        }
    }/*Closing tag for Contact Section*/

        .img1, .img2, .img3{ /*Social Media Img's*/
         height:25px;
         padding-top:30px;
         padding-right:80px;
        }

        .copyright{
        margin-top:120px;
        font-size:10px;
        }
}
    